<ion-header>
  <ion-toolbar> <ion-title> Ionic Blank </ion-title> </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="flex flex-col items-center justify-center">
    The world is your oyster.
    <p>
      If you get lost, the
      <a
        target="_blank"
        rel="noopener"
        href="https://beta.ionicframework.com/docs/"
        >docs</a
      >
      will be your guide.
    </p>

    <form>
      <input type="text" placeholder="name" />
      <input type="text" placeholder="email" />
    </form>
  </div>
</ion-content>
