.flex {
    display: flex; // commenting this line it works
    height: 100vh;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}
